.bookImage {
   width : 350px;
   height : 400px;
   float:left;
   padding: 10px; 
   margin: 0px
}
.footer{
	background-color: #000000;
	color: #eb3812
}

.coverImage {
   width : 300px;
   height : 175px;
  }