{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
				<img src="{{ hardware.book_cover.url }}" class="bookImage img-responsive img-rounded">
				
				<div class="panel panel-info" >
					<div class="panel panel-heading">
						<h2 class="panel panel-title">{{ hardware.title }} by <span>{{ hardware.author }}</span></h2>
					</div>
               			<div class="panel-body">
                             <p>{{ hardware.description }}</p>
                             <p class="well well-sm"> <strong>{{ hardware.title }}</strong> was uploaded by <b>{{ hardware.user }}</b> on <em>{{ hardware.date }}</em></p>
               			 </div>
                	<div class="panel-footer"><h3 class="label"><a href="{{ hardware.book.url }}" target="_blank"><button class="btn btn-success">click here to download</button></h3></a></div>
                </div>
			
		</div>
		<div class="col-md-3"> 
		    {% include "includecat.html" %}
		</div>
		
	</div>
</div>











{% endblock content %}
