<ul class="list-group">
	<li class="list-group-item"><a href="{% url 'bookstore:software' %}">software</a></li>
	<li class="list-group-item"><a href="{% url 'bookstore:hardware' %}">hardware</a></li>
	<li class="list-group-item"><a href="{% url 'bookstore:networking' %}">networking</a></li>
	<li class="list-group-item"><a href="{% url 'bookstore:lecture_note' %}">lecture_notes</a></li>
	<li class="list-group-item"><a href="{% url 'bookstore:programming' %}">programming</a></li>
	<li class="list-group-item"><a href="{% url 'bookstore:others' %}">others</a></li>
</ul>