{% extends "base.html" %}
{% load staticfiles %}
                   <!-- Portfolio Grid Section -->
{% block content %}
<section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">our stocks</h2>
                    <h3 class="section-subheading text-muted">select the category of book you will like to read</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{% url 'bookstore:software' %} " class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/roundicons.png' %}" class="img-responsive" alt="software books">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Software books</h4>
                        <p class="text-muted">Read and download</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{% url 'bookstore:hardware' %}" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/startup-framework.png' %}" class="img-responsive" alt="hardware books">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Hardware books</h4>
                        <p class="text-muted">Download and read</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{% url 'bookstore:programming' %}" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/treehouse.png' %}" class="img-responsive" alt="programming books">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Programming books</h4>
                        <p class="text-muted">Download and read</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{% url 'bookstore:networking' %}" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/golden.png' %}" class="img-responsive" alt="networking books">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Networking books</h4>
                        <p class="text-muted">Download and read</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{% url 'bookstore:lecture_note' %}" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/escape.png' %}" class="img-responsive" alt="lecture notes">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Lecture notes</h4>
                        <p class="text-muted">Download and read</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{% url 'bookstore:others' %}" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/dreams.png' %}" class="img-responsive" alt="others books">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Other books</h4>
                        <p class="text-muted">Download and read</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}